# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Streamlit
# Keep Streamlit app config committed

# OS files
.DS_Store
Thumbs.db
